<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form action="/" method="POST">
	<input type="text" name="quote" placeholder="Enter a Quote">
	<br>
	<input type="text" name="author" placeholder="Author of the Quote">
	<br>
	<input type="text" name="age" placeholder="Age of Author">
	<br>
	<button type="submit">Submit</button>
</form>
 
</body>
</html>